<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CTO" connectionString="Server=localhost; Database=CTO; uid=sa; password=Health123" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- Drupal connection information -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	 <add key="excelDataLocation" value="C:\inetpub\wwwroot\cto\data\excel\"/>
	 <add key="logFileLocation" value="C:\inetpub\wwwroot\cto\logs\"/>
    <add key="adminPassword" value="cto0330"/>
  </appSettings>
   
   <system.web>
  <compilation debug="true" targetFramework="4.0" />
    <customErrors defaultRedirect="genericError.html" mode="On" />  
    <globalization culture="auto" uiCulture="auto"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index-en.html" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
